.modal-title{
  font-weight: 600;
}

.tr-loader{
  text-align: center;
  padding: 50px 0px;
  img {
    width: 30px;
    opacity: 0.8;
  }
}

td {
  vertical-align: middle !important;
}
.avatar-container{
  border: 1px dashed;
  border-radius: 5px;
  padding: 10px;
  float: right;
  margin-top: 10px;  
}
.avatar{
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
}
.tree-menu-icon-container{
  width: 42px;
  float: left;
  line-height: 43px;
}
.tree-menu-icon-container img{
  width: 100%;
}
span.hidden-permission{
  display: none !important;
}