// Responsive breakpoints
$layout-breakpoint-xxs: 500px !default;
$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 768px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;

$sidebar-width: 90px;
$sidenav-selected-color: #404040;
$sidebar-red: #dc3b20;
$sidebar-yellow: #fab12e;