<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="alert alert-success"
				*ngIf="message.length > 0 ? true : false">
				<b>{{message}}</b>
			</div>
		</div>
	</div>
	<div *ngIf="loading" class="loaderScreen">
		<img src="assets/images/loading.gif">
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Banks</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="col-sm-12">
						<div *ngFor="let bnk of banks; let i = index">
							<label> {{bnk.name}}</label> <a href="#" data-toggle="modal"
								data-target="#modal" (click)="onBankSelected(bnk)"><i
								class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- panel end -->
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add Bank</h3>
			</div>
			<div class="panel-body">


				<div class="row">
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label" for="field-1">Bank name</label>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Bank"
								[(ngModel)]="newBank.name" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group" style="padding-top: 10px;">
						<label class="col-sm-3 control-label" for="field-1">Status</label>
						<div class="col-sm-9">
							<select class="form-control" #selectStatus
								(change)="selectedStatus(selectStatus.value)">
								<option *ngFor="let st of statusArrList" [value]="st.id">{{st.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-12">
							<a class="btn btn-white" (click)="OnSaveBank()">Save</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-1" id="modal">
	<div class="modal-dialog" style="width: 40%;">
		<div class="modal-content">
			<div *ngIf="loading" class="loaderScreen">
				<img src="assets/images/loading.gif">
			</div>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" style="font-weight: 600;">Banks</h4>
			</div>
			<div class="modal-body" style="min-height: 120px">
				<div class="row form-horizontal form-group">
					<div class="col-sm-3">
						<label style="padding-top: 9px;">Bank name</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" *ngIf="selectedBank"
							[(ngModel)]="selectedBank.name" />
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-3">
						<label class="control-label" for="field-1">Status</label>
					</div>
					<div class="col-sm-9">
						<select class="form-control" #selectStatus *ngIf="selectedBank"
							(change)="selectedStatus(selectStatus.value)">
							<option *ngFor="let st of statusArrList" [value]="st.id"
								[selected]="st.id === selectedBank.is_active">{{st.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="onUpdateBank();"
					data-dismiss="modal">Update</button>
				<button type="button" class="btn btn-info" (click)="onBankDelete();"
					data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>